# tmp folders
hdmi_project.cache/
hdmi_project.hw/
hdmi_project.runs/
hdmi_project.ip_user_files/
hdmi_project.sim/

# generic files -- defininitely overkill
*.log
*.rpt
*.jou
*.wdf
*.rst
*.pb
*.str
*.cache
*.wpc